**INSTRUCTIONS**

Run each cell in the order indicated. Cells labeled "optional" do not contribute to subsequent steps.

*Disclaimer:* The steps do not match the README.md in the repository due to the nature of coding in a Jupyter Notebook.

In [ ]:

"""
STEP 1a: Pulling data directly from Kaggle

If desired, pull data directly from the Kaggle API using a valid account. If referencing stored files is preferable, upload both data files to the Google Drive of the Google Account signed
into this runtime and proceed to step 1b.

"""
%%writefile kaggle.json
{
  "username": "pallavimamilla",
  "key": "KaggleAPIKey"
}

Writing kaggle.json

In [ ]:
"""
Step 1a continued
"""

!mkdir -p ~/.kaggle
!mv kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets list | head

ref                                                            title                                               size  lastUpdated                 downloadCount  voteCount  usabilityRating
-------------------------------------------------------------  --------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
saidaminsaidaxmadov/chocolate-sales                            Chocolate Sales                                   468320  2026-01-04 14:23:35.490000          15422        277  1.0
aliiihussain/amazon-sales-dataset                              Amazon_Sales_Dataset                             1297759  2026-02-01 11:37:12.353000           2634         52  1.0
sanaijlalshahrukh/gold-price-analysis-10-year-historical-data  Gold Price analysis 10-Year Historical Data        41715  2026-02-05 03:45:30.177000            745         23  1.0
ayeshaimran1619/student-academic-stress-level                  Student Academic Stress Level                       2104  2026-01-18 09:19:44.433000            849         23  1.0
vishardmehta/gold-price-forecasting-dataset                    Gold Price Forecasting Dataset                    138149  2026-02-02 10:27:21.830000           1385         29  1.0
rockyt07/social-media-user-analysis                            Social Media User Analysis                     247842357  2026-01-14 02:28:41.970000           8684        169  1.0
sonalshinde123/work-from-home-employee-burnout-dataset         Work From Home Employee Burnout Dataset            27962  2026-01-31 03:28:22.227000           1497         39  1.0
wardabilal/customer-shopping-behaviour-analysis                Customer Shopping Behaviour Analysis               67263  2026-01-25 05:50:56.253000           1310         30  1.0

In [ ]:
"""
Step 1a continued
"""
!kaggle datasets download -d yelp-dataset/yelp-dataset
!unzip yelp-dataset.zip

Dataset URL: https://www.kaggle.com/datasets/yelp-dataset/yelp-dataset
License(s): other
Downloading yelp-dataset.zip to /content
100% 4.06G/4.07G [02:08<00:00, 216MB/s]
100% 4.07G/4.07G [02:08<00:00, 33.9MB/s]
Archive:  yelp-dataset.zip
  inflating: Dataset_User_Agreement.pdf
  inflating: yelp_academic_dataset_business.json
  inflating: yelp_academic_dataset_checkin.json
  inflating: yelp_academic_dataset_review.json
  inflating: yelp_academic_dataset_tip.json
  inflating: yelp_academic_dataset_user.json

In [1]:
"""
Step 1b: Loading data from a mounted Google Drive

Prerequisite: upload yelp_academic_dataset_business.json and yelp_academic_dataset_review.json to the Google Drive of the Google Account signed into this runtime.

Follow the prompts to allow access to the Google Drive.
"""

from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/Colab Notebooks

Mounted at /content/drive
/content/drive/MyDrive/Colab Notebooks

In [2]:
"""
Step 2: Load common dependencies
"""

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import json

In [3]:
"""
Step 3: Load yelp_academic_dataset_business.json into a DataFrame
"""

business_data = [] #temporary matrix to which each JSON line will be appended
with open("yelp_academic_dataset_business.json", "r", encoding="utf-8") as file: #open the JSON file with standard encoding
    for line in file: #for each line in the JSON lines file, add each line to the matrix
        business_data.append(json.loads(line))

business_df = pd.DataFrame(business_data) #convert temporary matrix to necessary DataFrame structure
business_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [4]:
"""
Step 4: Load yelp_academic_dataset_review.json into a DataFrame
"""

review_data = []  #temporary matrix to which each JSON line will be appended
with open("yelp_academic_dataset_review.json", "r", encoding="utf-8") as file:  #open the JSON file with standard encoding
    for i, line in enumerate(file): #for each line in the JSON lines file, add each line to the matrix
        review_data.append(json.loads(line))
        if i >= 200000: #limit appending to only the first 200,000 records of the file
            break

review_df = pd.DataFrame(review_data) #convert temporary matrix to necessary DataFrame structure
review_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
199996,4ylitTY7GmonnQDqhjB-eg,_fMw99otXOCu-Kzc-loMZA,v72HalBu5fQIFTD-oqhSgQ,5.0,0,0,0,"Let me just say, I'm glad my husband and I dec...",2016-08-18 00:23:31
199997,MnwNSr5h_t1uIlcj3aI_5w,ZfG1T_noQnbOdXnz4USs0Q,cvHY1RTAPSoH94ysP2_eyQ,5.0,1,1,1,I was coming back from the Farmers market toda...,2014-06-21 17:12:53
199998,3fp0uXGAjIqgza02_ObF5w,I0MMq4iYjDjERnSjp76HDw,cBp1fn2LXpSHe4VbTXLYEw,5.0,0,0,1,Absolutely perfect meal for me. The food is cl...,2017-09-06 17:54:23
199999,cSlJEcygfh-57otb6dF3Lg,sokS5Ml2QyKjOwO56pS9Jw,oBhJuukGRqPVvYBfTkhuZA,5.0,0,0,0,Braised beef Short Rib! Asparagus on the side....,2015-06-16 01:51:18
200000,1IEzEH_J7TH21fKFdfxlNQ,345cM-IMsRDwutYG-AkJNw,LHSTtnW3YHCeUkRDGyJOyw,5.0,6,0,3,"Great craft beers, great fresh food. Small me...",2015-04-12 00:20:02

In [5]:
"""
Step 5: Filter the business dataset to only include records with "Restaurants" in the cuisine column

Not interested in any business which is not considered a restaurant.
"""

restaurant_df = business_df[
    business_df['categories'].notna() &
    business_df['categories'].str.contains('Restaurants')
].copy()

restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."

In [7]:
"""
Step 6: Inner join both the business and reviews data sets on their business_id columns

Essential to relate each review with the cuisine type of the corresponding business.

"""

restaurant_reviews = pd.merge(
    review_df,
    restaurant_df[['business_id', 'name', 'categories']], #limit business information, as reviews are the primary concern
    on='business_id',
    how='inner'
)


restaurant_reviews.sort_values(by="business_id").head(20) #check that businesses have multiple reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,categories
12425,smRZuMTLFML_GImDsPmQVw,PlsB30q5bR2raPMpuN1Wuw,--ZVrH2X2QXBFdCilbirsw,5.0,0,0,0,One of the best hoagies I've ever had. The pro...,2014-12-18 18:14:15,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
14017,xgAqKM3xkeTCtXC78gdnnQ,Gv9KfGk5j69oE9LugsLKiw,--ZVrH2X2QXBFdCilbirsw,5.0,0,1,2,Moving into our new house and I think the Ital...,2014-03-15 01:57:33,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
61229,kE-NdGwUA1zbqNp9MgDing,Yy8JcvtMoNajJJW7k-y4MA,--ZVrH2X2QXBFdCilbirsw,5.0,1,0,0,These are the best hoagies and pizza in Ardmor...,2017-07-31 16:56:21,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
90721,1OO2oZ33wxPFH66e6riY-Q,Tf-TSPR3nqA_7b7_4KqWnQ,--ZVrH2X2QXBFdCilbirsw,5.0,0,0,0,Great sandwichs. Order 7 different ones so far...,2017-02-23 18:27:28,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
4291,7snN_xdG7dtX4u1bdoNq0w,7iCjHZY74yCEF-Eajx5sIA,--ZVrH2X2QXBFdCilbirsw,5.0,0,0,0,This place is sadly perm closed. I was hoping ...,2018-02-24 00:53:41,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
140890,yFpYsKyNaj6Uha_9_B2dYQ,Cv7mEO8-Jfy6JZiMJmenSg,--ZVrH2X2QXBFdCilbirsw,5.0,0,0,0,Favorite Italian hoagie in the area. Other san...,2017-07-03 13:21:06,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
26348,HNMJqBFBGm6tFHxU70gOxQ,wuCvIRDk-m0ZpJNH07X-Sw,--ZVrH2X2QXBFdCilbirsw,5.0,0,0,0,The classic Italian hoagie is fantastic and a ...,2016-02-02 19:59:42,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
65724,GvktZ263lYMC0qq9q5vDjg,w9gQB_NFEJI_JR_l-RvIGQ,--ZVrH2X2QXBFdCilbirsw,5.0,1,0,0,The reviews for this place were very accurate....,2015-05-14 12:42:59,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
83411,JxF41Y9WHQJINIhffOlPGQ,KfDyITIWtA8h3dr_4FB3UQ,--ZVrH2X2QXBFdCilbirsw,5.0,1,0,0,Perfect hoagies and all around great deli. Don...,2015-01-09 21:57:01,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
132909,byiWcE7j1-k7sCfkifu10Q,eJWLU7yYDHQPNobP5C2FdQ,--ZVrH2X2QXBFdCilbirsw,5.0,1,1,0,There are places in life that just make you ha...,2015-08-11 04:08:39,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
41721,Dk7kJ_qhIZx9kMTD3k10fA,cb4-kLOBtPmh1GGNT8ZtTg,--ZVrH2X2QXBFdCilbirsw,5.0,0,0,0,Delicious. FRESH! Good prices. Now my one and...,2016-02-12 21:40:09,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
29277,SofO7AiAd3b6KtUiHRrt2A,u-8U5MbQe-bIVtaPwOf-Wg,--ZVrH2X2QXBFdCilbirsw,5.0,1,1,1,This Deli is Fantastic! They have been in the ...,2013-07-16 15:47:08,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
113487,gDSj8le0w_iOwXQuH_-4cA,GoeHBmVr2bb395Zb74vU_w,--ZVrH2X2QXBFdCilbirsw,4.0,2,0,0,"So this was just fine, but didn't quite live u...",2017-05-06 21:54:36,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
11160,5IJ8bbgtuaYY44jylnQ5lw,QD0DRN_ZY5czjHjzopEZzw,--ZVrH2X2QXBFdCilbirsw,3.0,0,0,0,"Really want this place to succeed, \nThey are...",2015-02-02 16:21:45,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
18873,P1tdzQkq2S6NERhQhcTGlw,AxWV_6i2gC8-YBWOwtC5KA,--ZVrH2X2QXBFdCilbirsw,5.0,1,0,1,"Based on the reviews from the customers, I ord...",2016-03-31 16:39:04,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
143588,CoHGj8bjj0DT1O_u5_xmtQ,gy2arJ99pghrzwFGT7aewQ,--ZVrH2X2QXBFdCilbirsw,5.0,0,0,1,I really like their roast beef Panini and I gr...,2015-12-30 17:01:44,Chris's Sandwich Shop,"American (Traditional), Restaurants, Pizza, Sa..."
119338,mJAxSIH9UVSzAWoUsbAMPA,4rnsOTwsYH2w0aV771Zrxw,-1MhPXk1FglglUAmuPLIGg,1.0,1,2,0,I was with a group of roller derby girls. I wa...,2016-06-05 08:03:57,Red Garter Saloon,"Nightlife, Burgers, Sports Bars, Bars, Restaur..."
85279,e6U4kaXaiQLAy4godWiBMw,0Hl2BwAIz3Gi3Jhlx7AYZA,-1MhPXk1FglglUAmuPLIGg,4.0,1,0,0,"I go to the movies at the Loft a whole bunch, ...",2013-10-30 18:15:11,Red Garter Saloon,"Nightlife, Burgers, Sports Bars, Bars, Restaur..."
39993,knC_0bJtgKH5jNcgnntmqg,WKaetrheMivBDZ3WNzHvgQ,-1MhPXk1FglglUAmuPLIGg,4.0,0,0,0,It's a really big dive bar with a huge seating...,2016-06-12 15:17:31,Red Garter Saloon,"Nightlife, Burgers, Sports Bars, Bars, Restaur..."
89955,rW8w2TKlNC5aBUC3k57Gmw,f0fJDm9JB45X-lYZf0NDaw,-1MhPXk1FglglUAmuPLIGg,4.0,0,0,0,"I ordered a Burger medium and it was great, fr...",2016-02-03 18:50:47,Red Garter Saloon,"Nightlife, Burgers, Sports Bars, Bars, Restaur..."

In [10]:
"""
Step 7: Define the cuisine type keywords (i.e. FOOD_KEYWORDS) and extract the keywords from the categories column for each record

"""
#modify list to include desired keywords (keep as is to match results)
FOOD_KEYWORDS = [
    'American', 'Mexican', 'Italian', 'Chinese', 'Japanese', 'Thai',
    'Vietnamese', 'Korean', 'Mediterranean', 'Greek', 'French', 'Spanish',
    'Breakfast', 'Brunch', 'Pizza', 'Burgers', 'Seafood', 'BBQ', 'Sushi',
    'Ramen', 'Cafes', 'Coffee', 'Bakeries', 'Desserts', 'Fast Food',
    'Vegetarian', 'Vegan', 'Halal', 'Kosher'
]

def extract_cuisines(categories):
  """
  categories: list of strings containg the keywords
  """
  output = [] #initial empty list
  for keyword in FOOD_KEYWORDS: #for every keyword
    if keyword in categories: #check if that keyword is found in the categories column
      output.append(keyword) #if keyword found, append that keyword to the output list
  return output
restaurant_reviews['cuisine'] = restaurant_reviews['categories'].apply(extract_cuisines) #creates a column that stores a list of each keyword found in the categories column
restaurant_reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,categories,cuisine
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,"Restaurants, Breakfast & Brunch, Food, Juice B...","[American, Breakfast, Brunch, Coffee]"
1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,Kettle Restaurant,"Restaurants, Breakfast & Brunch","[Breakfast, Brunch]"
2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,"Halal, Pakistani, Restaurants, Indian",[Halal]
3,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,Melt,"Sandwiches, Beer, Wine & Spirits, Bars, Food, ...",[American]
4,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31,Dmitri's,"Mediterranean, Restaurants, Seafood, Greek","[Mediterranean, Greek, Seafood]"
...,...,...,...,...,...,...,...,...,...,...,...,...
144420,4ylitTY7GmonnQDqhjB-eg,_fMw99otXOCu-Kzc-loMZA,v72HalBu5fQIFTD-oqhSgQ,5.0,0,0,0,"Let me just say, I'm glad my husband and I dec...",2016-08-18 00:23:31,1200 Chophouse,"Steakhouses, American (New), Restaurants",[American]
144421,MnwNSr5h_t1uIlcj3aI_5w,ZfG1T_noQnbOdXnz4USs0Q,cvHY1RTAPSoH94ysP2_eyQ,5.0,1,1,1,I was coming back from the Farmers market toda...,2014-06-21 17:12:53,The Turnip Truck Urban Fare,"Health Markets, Restaurants, Grocery, Sandwich...",[]
144422,3fp0uXGAjIqgza02_ObF5w,I0MMq4iYjDjERnSjp76HDw,cBp1fn2LXpSHe4VbTXLYEw,5.0,0,0,1,Absolutely perfect meal for me. The food is cl...,2017-09-06 17:54:23,Bab Café - Reno,"Restaurants, Cafes, Korean, Gluten-Free, Comfo...","[Korean, Cafes, Vegetarian, Vegan]"
144423,cSlJEcygfh-57otb6dF3Lg,sokS5Ml2QyKjOwO56pS9Jw,oBhJuukGRqPVvYBfTkhuZA,5.0,0,0,0,Braised beef Short Rib! Asparagus on the side....,2015-06-16 01:51:18,Square 1682,"American (New), Breakfast & Brunch, Bars, Nigh...","[American, Breakfast, Brunch]"
144424,1IEzEH_J7TH21fKFdfxlNQ,345cM-IMsRDwutYG-AkJNw,LHSTtnW3YHCeUkRDGyJOyw,5.0,6,0,3,"Great craft beers, great fresh food. Small me...",2015-04-12 00:20:02,Fries Rebellion,"Beer Bar, Bars, American (New), Gastropubs, Re...","[American, Burgers]"

In [9]:
"""
Step 8: Install language detection dependencies using pip
"""

!pip install langdetect googletrans-py

Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 981.5/981.5 kB 55.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting googletrans-py
  Downloading googletrans-py-4.0.0.tar.gz (12 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from langdetect) (1.17.0)
Requirement already satisfied: httpx>=0.22.0 in /usr/local/lib/python3.12/dist-packages (from googletrans-py) (0.28.1)
Requirement already satisfied: h2<5,>=4 in /usr/local/lib/python3.12/dist-packages (from googletrans-py) (4.3.0)
Requirement already satisfied: hyperframe<7,>=6.1 in /usr/local/lib/python3.12/dist-packages (from h2<5,>=4->googletrans-py) (6.1.0)
Requirement already satisfied: hpack<5,>=4.1 in /usr/local/lib/python3.12/dist-packages (from h2<5,>=4->googletrans-py) (4.1.0)
Requirement already satisfied: anyio in /usr/local/lib/python3.12/dist-packages (from httpx>=0.22.0->googletrans-py) (4.12.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx>=0.22.0->googletrans-py) (2026.1.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx>=0.22.0->googletrans-py) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from httpx>=0.22.0->googletrans-py) (3.11)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx>=0.22.0->googletrans-py) (0.16.0)
Requirement already satisfied: typing_extensions>=4.5 in /usr/local/lib/python3.12/dist-packages (from anyio->httpx>=0.22.0->googletrans-py) (4.15.0)
Building wheels for collected packages: langdetect, googletrans-py
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993223 sha256=677637a3d07c04388f290a87abf3c3f5cb544916807163ca14195235894d5063
  Stored in directory: /root/.cache/pip/wheels/c1/67/88/e844b5b022812e15a52e4eaa38a1e709e99f06f6639d7e3ba7
  Building wheel for googletrans-py (setup.py) ... done
  Created wheel for googletrans-py: filename=googletrans_py-4.0.0-py3-none-any.whl size=13115 sha256=5988150aa5479b17f8dc4615800d6c1c835387247284bf2410facb6ce7c4cd87
  Stored in directory: /root/.cache/pip/wheels/d7/77/86/56a6d2caf2420c4f8f062d014fdf011477f213718ef9aae7d2
Successfully built langdetect googletrans-py
Installing collected packages: langdetect, googletrans-py
Successfully installed googletrans-py-4.0.0 langdetect-1.0.9

In [11]:
"""
Step 9: Define language detectin function and load relevant dependencies
"""

from googletrans import Translator
from langdetect import detect, LangDetectException

def translate_text_to_english(text):
    """
    text: any string input
    """
    if not isinstance(text, str): # if the input is not actually a stirng, return the input
        return text
    text = text.strip() #remove all spaces from the text
    if not text: #if empty, return the empty string
        return text

    try:
        detected_lang = detect(text) #try and detect a language
    except LangDetectException:
        # iff language detection fails, assume English or return original
        return text

    if detected_lang != 'en': #if the detected language is not English
        try:
            #try to instantiate a translator and translate the text to English
            translator = Translator()
            translated = translator.translate(text, dest='en')
            return translated.text
        except Exception as e:
            #if translation fails, print an error message and
            print(f"Translation error for text: {text[:50]}... Error: {e}")
            return text  # return original text on translation error
    else:
        #if the detected language is English, just return the original input
        return text

In [13]:
"""
Step 10: Use defined translation function to translate the text columns (i.e. the review text) for each record

"""

restaurant_reviews['translated_text'] = restaurant_reviews['text'].apply(translate_text_to_english)
restaurant_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,categories,cuisine,translated_text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,"Restaurants, Breakfast & Brunch, Food, Juice B...","[American, Breakfast, Brunch, Coffee]","If you decide to eat here, just be aware it is..."
1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,Kettle Restaurant,"Restaurants, Breakfast & Brunch","[Breakfast, Brunch]",Family diner. Had the buffet. Eclectic assortm...
2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,"Halal, Pakistani, Restaurants, Indian",[Halal],"Wow! Yummy, different, delicious. Our favo..."
3,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,Melt,"Sandwiches, Beer, Wine & Spirits, Bars, Food, ...",[American],Cute interior and owner (?) gave us tour of up...
4,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31,Dmitri's,"Mediterranean, Restaurants, Seafood, Greek","[Mediterranean, Greek, Seafood]",I am a long term frequent customer of this est...

In [14]:
"""
Step 11: Install vaderSentiment dependency
"""

!pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl.metadata (572 bytes)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from vaderSentiment) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->vaderSentiment) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->vaderSentiment) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->vaderSentiment) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->vaderSentiment) (2026.1.4)
Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.0/126.0 kB 15.0 MB/s eta 0:00:00
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [15]:
"""
Step 12: load dependency and apply sentiment analyzer to each record's English review text
"""

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer() #instantiate vaderSentiment analyzer

#apply annalyzer to the English review text for each record
restaurant_reviews['sentiment'] = restaurant_reviews['translated_text'].apply(
    lambda x: analyzer.polarity_scores(x)['compound']
)

In [16]:
"""
Step 13: scale star rating to better match sentiment score output and create columns representing 1. the difference between the sentiment score and the scaled star rating and 2. the absolute value of that difference
"""

restaurant_reviews['stars_norm'] = (restaurant_reviews['stars'] - 1) / 4 #scale stars column

#initial diffrence between sentiment score and scaled stars
restaurant_reviews['mismatch'] = np.abs(
    restaurant_reviews['sentiment'] - restaurant_reviews['stars_norm']
)

#absolute value of that difference
restaurant_reviews['direction'] = (
    restaurant_reviews['sentiment'] - restaurant_reviews['stars_norm']
)

In [17]:
"""
Step 14: drop records without an assigned cuisine type and explode data based on cuisine column
"""

#explode the translated_restaurant_reviews table based on the cuisine column
exploded_restaurant_reviews = restaurant_reviews.explode('cuisine')

#drop any row where a cuisine is not specified
exploded_restaurant_reviews = exploded_restaurant_reviews[exploded_restaurant_reviews['cuisine'].str.len() > 0]

#display results
exploded_restaurant_reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,categories,cuisine,translated_text,sentiment,stars_norm,mismatch,direction
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,"Restaurants, Breakfast & Brunch, Food, Juice B...",American,"If you decide to eat here, just be aware it is...",0.8597,0.5,0.3597,0.3597
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,"Restaurants, Breakfast & Brunch, Food, Juice B...",Breakfast,"If you decide to eat here, just be aware it is...",0.8597,0.5,0.3597,0.3597
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,"Restaurants, Breakfast & Brunch, Food, Juice B...",Brunch,"If you decide to eat here, just be aware it is...",0.8597,0.5,0.3597,0.3597
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,"Restaurants, Breakfast & Brunch, Food, Juice B...",Coffee,"If you decide to eat here, just be aware it is...",0.8597,0.5,0.3597,0.3597
1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,Kettle Restaurant,"Restaurants, Breakfast & Brunch",Breakfast,Family diner. Had the buffet. Eclectic assortm...,0.9201,0.5,0.4201,0.4201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144423,cSlJEcygfh-57otb6dF3Lg,sokS5Ml2QyKjOwO56pS9Jw,oBhJuukGRqPVvYBfTkhuZA,5.0,0,0,0,Braised beef Short Rib! Asparagus on the side....,2015-06-16 01:51:18,Square 1682,"American (New), Breakfast & Brunch, Bars, Nigh...",American,Braised beef Short Rib! Asparagus on the side....,0.9811,1.0,0.0189,-0.0189
144423,cSlJEcygfh-57otb6dF3Lg,sokS5Ml2QyKjOwO56pS9Jw,oBhJuukGRqPVvYBfTkhuZA,5.0,0,0,0,Braised beef Short Rib! Asparagus on the side....,2015-06-16 01:51:18,Square 1682,"American (New), Breakfast & Brunch, Bars, Nigh...",Breakfast,Braised beef Short Rib! Asparagus on the side....,0.9811,1.0,0.0189,-0.0189
144423,cSlJEcygfh-57otb6dF3Lg,sokS5Ml2QyKjOwO56pS9Jw,oBhJuukGRqPVvYBfTkhuZA,5.0,0,0,0,Braised beef Short Rib! Asparagus on the side....,2015-06-16 01:51:18,Square 1682,"American (New), Breakfast & Brunch, Bars, Nigh...",Brunch,Braised beef Short Rib! Asparagus on the side....,0.9811,1.0,0.0189,-0.0189
144424,1IEzEH_J7TH21fKFdfxlNQ,345cM-IMsRDwutYG-AkJNw,LHSTtnW3YHCeUkRDGyJOyw,5.0,6,0,3,"Great craft beers, great fresh food. Small me...",2015-04-12 00:20:02,Fries Rebellion,"Beer Bar, Bars, American (New), Gastropubs, Re...",American,"Great craft beers, great fresh food. Small me...",0.8718,1.0,0.1282,-0.1282
144424,1IEzEH_J7TH21fKFdfxlNQ,345cM-IMsRDwutYG-AkJNw,LHSTtnW3YHCeUkRDGyJOyw,5.0,6,0,3,"Great craft beers, great fresh food. Small me...",2015-04-12 00:20:02,Fries Rebellion,"Beer Bar, Bars, American (New), Gastropubs, Re...",Burgers,"Great craft beers, great fresh food. Small me...",0.8718,1.0,0.1282,-0.1282

In [25]:

"""
Step 15: install necessary statistics dependencies
"""

#Install necessary statistics package
!pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (1.16.3)
Requirement already satisfied: numpy<2.6,>=1.25.2 in /usr/local/lib/python3.12/dist-packages (from scipy) (2.0.2)

In [50]:
"""
Step 16: create functions to run necessary statistics; use functions to produce p-value for exploded data set
"""

#Run ANOVA using cuisine type on exploded data set
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd

def anova(data, iv, dv, print_output=False):
  """
  data: source data frame
  iv: name of column which contains category labels
  dv: name of column which contains corresponding values
  print: whether to print the output as well
  """
  groups = [group[dv].values for name, group in data.groupby(iv)]
  f_stat, p_value = stats.f_oneway(*groups)
  if print_output:
    print("F-statistic:", f_stat)
    print("p-value:", p_value)
  return f_stat, p_value

#see anova function for parameters
def tukey_hsd(data, iv, dv, alpha=0.05):
    tukey = pairwise_tukeyhsd(
        endog=data[dv],
        groups=data[iv],
        alpha=alpha
    )
    print(tukey.summary())
    return tukey


exploded_anova_results = anova(exploded_restaurant_reviews,"cuisine","mismatch",True)
exploded_tukey_results = tukey_hsd(exploded_restaurant_reviews,"cuisine","mismatch")

F-statistic: 79.7291291843239
p-value: 0.0
       Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================================
    group1        group2    meandiff p-adj   lower   upper  reject
------------------------------------------------------------------
     American      Bakeries  -0.0261    0.0 -0.0407 -0.0115   True
     American     Breakfast  -0.0188    0.0 -0.0265 -0.0111   True
     American        Brunch  -0.0188    0.0 -0.0265 -0.0111   True
     American       Burgers   0.0385    0.0  0.0286  0.0483   True
     American         Cafes  -0.0434    0.0 -0.0543 -0.0324   True
     American       Chinese   0.0276    0.0  0.0135  0.0417   True
     American        Coffee   -0.021    0.0  -0.031  -0.011   True
     American      Desserts   -0.004    1.0   -0.02  0.0119  False
     American     Fast Food    0.098    0.0  0.0834  0.1125   True
     American        French  -0.0387    0.0 -0.0567 -0.0208   True
     American         Greek  -0.0387    0.0 -0.0589 -0.0186   True
     American         Halal  -0.0688    0.0 -0.1055 -0.0321   True
     American       Italian   0.0107 0.0261  0.0005  0.0209   True
     American      Japanese   0.0029    1.0 -0.0105  0.0163  False
     American        Korean  -0.0334    0.0 -0.0566 -0.0102   True
     American        Kosher   0.0036    1.0 -0.0844  0.0917  False
     American Mediterranean  -0.0289    0.0 -0.0463 -0.0115   True
     American       Mexican    0.007 0.6857 -0.0031  0.0171  False
     American         Pizza   0.0159    0.0  0.0061  0.0257   True
     American         Ramen   0.0053    1.0 -0.0308  0.0415  False
     American       Seafood   0.0017    1.0 -0.0078  0.0111  False
     American       Spanish  -0.0288 0.6545 -0.0696   0.012  False
     American         Sushi   0.0007    1.0 -0.0125  0.0138  False
     American          Thai  -0.0266    0.0 -0.0435 -0.0098   True
     American         Vegan  -0.0517    0.0 -0.0713 -0.0322   True
     American    Vegetarian  -0.0393    0.0 -0.0549 -0.0238   True
     American    Vietnamese  -0.0108 0.9417 -0.0295   0.008  False
     Bakeries     Breakfast   0.0073 0.9934 -0.0079  0.0225  False
     Bakeries        Brunch   0.0073 0.9943 -0.0079  0.0225  False
     Bakeries       Burgers   0.0646    0.0  0.0482   0.081   True
     Bakeries         Cafes  -0.0173 0.0437 -0.0344 -0.0002   True
     Bakeries       Chinese   0.0537    0.0  0.0345   0.073   True
     Bakeries        Coffee    0.005    1.0 -0.0114  0.0215  False
     Bakeries      Desserts    0.022 0.0203  0.0014  0.0427   True
     Bakeries     Fast Food   0.1241    0.0  0.1045  0.1436   True
     Bakeries        French  -0.0127 0.9442 -0.0349  0.0095  False
     Bakeries         Greek  -0.0126 0.9786 -0.0367  0.0114  False
     Bakeries         Halal  -0.0427 0.0136 -0.0817 -0.0037   True
     Bakeries       Italian   0.0368    0.0  0.0202  0.0534   True
     Bakeries      Japanese    0.029    0.0  0.0102  0.0477   True
     Bakeries        Korean  -0.0073    1.0 -0.0339  0.0193  False
     Bakeries        Kosher   0.0297    1.0 -0.0593  0.1187  False
     Bakeries Mediterranean  -0.0028    1.0 -0.0246   0.019  False
     Bakeries       Mexican   0.0331    0.0  0.0166  0.0497   True
     Bakeries         Pizza    0.042    0.0  0.0256  0.0584   True
     Bakeries         Ramen   0.0314 0.3299  -0.007  0.0698  False
     Bakeries       Seafood   0.0278    0.0  0.0116  0.0439   True
     Bakeries       Spanish  -0.0027    1.0 -0.0456  0.0401  False
     Bakeries         Sushi   0.0267    0.0  0.0082  0.0453   True
     Bakeries          Thai  -0.0005    1.0 -0.0219  0.0208  False
     Bakeries         Vegan  -0.0257 0.0145 -0.0492 -0.0021   True
     Bakeries    Vegetarian  -0.0132 0.8053 -0.0336  0.0071  False
     Bakeries    Vietnamese   0.0153 0.7597 -0.0076  0.0382  False
    Breakfast        Brunch  -0.0001    1.0 -0.0089  0.0088  False
    Breakfast       Burgers   0.0572    0.0  0.0465   0.068   True
    Breakfast         Cafes  -0.0246    0.0 -0.0364 -0.0128   True
    Breakfast       Chinese   0.0464    0.0  0.0317  0.0611   True
    Breakfast        Coffee  -0.0023    1.0 -0.0132  0.0086  False
    Breakfast      Desserts   0.0147  0.172 -0.0018  0.0312  False
    Breakfast     Fast Food   0.1167    0.0  0.1016  0.1319   True
    Breakfast        French    -0.02  0.016 -0.0384 -0.0016   True
    Breakfast         Greek    -0.02  0.073 -0.0406  0.0006  False
    Breakfast         Halal    -0.05 0.0002  -0.087 -0.0131   True
    Breakfast       Italian   0.0295    0.0  0.0184  0.0405   True
    Breakfast      Japanese   0.0217    0.0  0.0076  0.0358   True
    Breakfast        Korean  -0.0146 0.8687 -0.0382  0.0089  False
    Breakfast        Kosher   0.0224    1.0 -0.0658  0.1105  False
    Breakfast Mediterranean  -0.0101 0.9505 -0.0281  0.0078  False
    Breakfast       Mexican   0.0258    0.0  0.0148  0.0368   True
    Breakfast         Pizza   0.0347    0.0  0.0239  0.0454   True
    Breakfast         Ramen   0.0241 0.7798 -0.0123  0.0605  False
    Breakfast       Seafood   0.0204    0.0  0.0101  0.0308   True
    Breakfast       Spanish  -0.0101    1.0 -0.0511  0.0309  False
    Breakfast         Sushi   0.0194 0.0001  0.0056  0.0332   True
    Breakfast          Thai  -0.0079 0.9974 -0.0253  0.0095  False
    Breakfast         Vegan   -0.033    0.0  -0.053  -0.013   True
    Breakfast    Vegetarian  -0.0206 0.0007 -0.0367 -0.0044   True
    Breakfast    Vietnamese    0.008 0.9994 -0.0113  0.0273  False
       Brunch       Burgers   0.0573    0.0  0.0465  0.0681   True
       Brunch         Cafes  -0.0245    0.0 -0.0363 -0.0127   True
       Brunch       Chinese   0.0465    0.0  0.0317  0.0612   True
       Brunch        Coffee  -0.0022    1.0 -0.0131  0.0087  False
       Brunch      Desserts   0.0148 0.1654 -0.0017  0.0313  False
       Brunch     Fast Food   0.1168    0.0  0.1016   0.132   True
       Brunch        French  -0.0199  0.017 -0.0384 -0.0015   True
       Brunch         Greek  -0.0199 0.0763 -0.0405  0.0007  False
       Brunch         Halal    -0.05 0.0002 -0.0869  -0.013   True
       Brunch       Italian   0.0295    0.0  0.0185  0.0406   True
       Brunch      Japanese   0.0217    0.0  0.0076  0.0358   True
       Brunch        Korean  -0.0146 0.8747 -0.0381   0.009  False
       Brunch        Kosher   0.0225    1.0 -0.0657  0.1106  False
       Brunch Mediterranean  -0.0101 0.9545  -0.028  0.0079  False
       Brunch       Mexican   0.0259    0.0  0.0149  0.0369   True
       Brunch         Pizza   0.0347    0.0   0.024  0.0455   True
       Brunch         Ramen   0.0242 0.7749 -0.0122  0.0605  False
       Brunch       Seafood   0.0205    0.0  0.0101  0.0309   True
       Brunch       Spanish    -0.01    1.0  -0.051   0.031  False
       Brunch         Sushi   0.0195 0.0001  0.0057  0.0333   True
       Brunch          Thai  -0.0078 0.9978 -0.0252  0.0096  False
       Brunch         Vegan  -0.0329    0.0 -0.0529 -0.0129   True
       Brunch    Vegetarian  -0.0205 0.0008 -0.0366 -0.0044   True
       Brunch    Vietnamese   0.0081 0.9993 -0.0112  0.0273  False
      Burgers         Cafes  -0.0818    0.0 -0.0951 -0.0685   True
      Burgers       Chinese  -0.0108 0.7346 -0.0268  0.0051  False
      Burgers        Coffee  -0.0595    0.0  -0.072  -0.047   True
      Burgers      Desserts  -0.0425    0.0 -0.0602 -0.0249   True
      Burgers     Fast Food   0.0595    0.0  0.0431  0.0759   True
      Burgers        French  -0.0772    0.0 -0.0967 -0.0578   True
      Burgers         Greek  -0.0772    0.0 -0.0987 -0.0557   True
      Burgers         Halal  -0.1073    0.0 -0.1448 -0.0698   True
      Burgers       Italian  -0.0278    0.0 -0.0404 -0.0151   True
      Burgers      Japanese  -0.0356    0.0  -0.051 -0.0202   True
      Burgers        Korean  -0.0719    0.0 -0.0962 -0.0475   True
      Burgers        Kosher  -0.0349 0.9998 -0.1232  0.0535  False
      Burgers Mediterranean  -0.0674    0.0 -0.0864 -0.0484   True
      Burgers       Mexican  -0.0315    0.0  -0.044 -0.0189   True
      Burgers         Pizza  -0.0226    0.0 -0.0349 -0.0102   True
      Burgers         Ramen  -0.0332 0.1584 -0.0701  0.0037  False
      Burgers       Seafood  -0.0368    0.0 -0.0489 -0.0247   True
      Burgers       Spanish  -0.0673    0.0 -0.1088 -0.0258   True
      Burgers         Sushi  -0.0378    0.0 -0.0529 -0.0227   True
      Burgers          Thai  -0.0651    0.0 -0.0836 -0.0467   True
      Burgers         Vegan  -0.0902    0.0 -0.1112 -0.0693   True
      Burgers    Vegetarian  -0.0778    0.0 -0.0951 -0.0605   True
      Burgers    Vietnamese  -0.0492    0.0 -0.0695  -0.029   True
        Cafes       Chinese    0.071    0.0  0.0543  0.0877   True
        Cafes        Coffee   0.0223    0.0  0.0089  0.0357   True
        Cafes      Desserts   0.0393    0.0   0.021  0.0576   True
        Cafes     Fast Food   0.1413    0.0  0.1243  0.1584   True
        Cafes        French   0.0046    1.0 -0.0154  0.0246  False
        Cafes         Greek   0.0046    1.0 -0.0174  0.0267  False
        Cafes         Halal  -0.0254 0.7496 -0.0632  0.0123  False
        Cafes       Italian   0.0541    0.0  0.0405  0.0676   True
        Cafes      Japanese   0.0463    0.0  0.0301  0.0624   True
        Cafes        Korean     0.01 0.9997 -0.0149  0.0348  False
        Cafes        Kosher    0.047  0.976 -0.0415  0.1355  False
        Cafes Mediterranean   0.0145 0.5577 -0.0051  0.0341  False
        Cafes       Mexican   0.0504    0.0  0.0369  0.0639   True
        Cafes         Pizza   0.0593    0.0   0.046  0.0725   True
        Cafes         Ramen   0.0487 0.0004  0.0115  0.0859   True
        Cafes       Seafood    0.045    0.0   0.032   0.058   True
        Cafes       Spanish   0.0145    1.0 -0.0272  0.0563  False
        Cafes         Sushi    0.044    0.0  0.0281  0.0599   True
        Cafes          Thai   0.0167 0.1955 -0.0023  0.0358  False
        Cafes         Vegan  -0.0084 0.9998 -0.0299  0.0131  False
        Cafes    Vegetarian    0.004    1.0 -0.0139   0.022  False
        Cafes    Vietnamese   0.0326    0.0  0.0118  0.0534   True
      Chinese        Coffee  -0.0487    0.0 -0.0648 -0.0326   True
      Chinese      Desserts  -0.0317    0.0  -0.052 -0.0114   True
      Chinese     Fast Food   0.0703    0.0  0.0511  0.0896   True
      Chinese        French  -0.0664    0.0 -0.0883 -0.0445   True
      Chinese         Greek  -0.0664    0.0 -0.0901 -0.0426   True
      Chinese         Halal  -0.0964    0.0 -0.1352 -0.0576   True
      Chinese       Italian  -0.0169 0.0275 -0.0331 -0.0007   True
      Chinese      Japanese  -0.0247 0.0002 -0.0431 -0.0064   True
      Chinese        Korean   -0.061    0.0 -0.0874 -0.0347   True
      Chinese        Kosher   -0.024    1.0  -0.113  0.0649  False
      Chinese Mediterranean  -0.0565    0.0  -0.078  -0.035   True
      Chinese       Mexican  -0.0206 0.0007 -0.0367 -0.0045   True
      Chinese         Pizza  -0.0117 0.5674 -0.0277  0.0042  False
      Chinese         Ramen  -0.0223  0.929 -0.0606  0.0159  False
      Chinese       Seafood   -0.026    0.0 -0.0417 -0.0102   True
      Chinese       Spanish  -0.0565 0.0003 -0.0992 -0.0138   True
      Chinese         Sushi   -0.027    0.0 -0.0452 -0.0088   True
      Chinese          Thai  -0.0543    0.0 -0.0753 -0.0333   True
      Chinese         Vegan  -0.0794    0.0 -0.1026 -0.0562   True
      Chinese    Vegetarian   -0.067    0.0  -0.087  -0.047   True
      Chinese    Vietnamese  -0.0384    0.0  -0.061 -0.0158   True
       Coffee      Desserts    0.017  0.082 -0.0007  0.0347  False
       Coffee     Fast Food    0.119    0.0  0.1026  0.1355   True
       Coffee        French  -0.0177  0.144 -0.0372  0.0018  False
       Coffee         Greek  -0.0177  0.323 -0.0393  0.0039  False
       Coffee         Halal  -0.0478 0.0008 -0.0853 -0.0102   True
       Coffee       Italian   0.0317    0.0   0.019  0.0445   True
       Coffee      Japanese   0.0239    0.0  0.0085  0.0394   True
       Coffee        Korean  -0.0124  0.987 -0.0368  0.0121  False
       Coffee        Kosher   0.0247    1.0 -0.0637   0.113  False
       Coffee Mediterranean  -0.0079 0.9995 -0.0269  0.0112  False
       Coffee       Mexican   0.0281    0.0  0.0154  0.0408   True
       Coffee         Pizza    0.037    0.0  0.0245  0.0494   True
       Coffee         Ramen   0.0264 0.6347 -0.0106  0.0633  False
       Coffee       Seafood   0.0227    0.0  0.0105  0.0349   True
       Coffee       Spanish  -0.0078    1.0 -0.0493  0.0337  False
       Coffee         Sushi   0.0217    0.0  0.0065  0.0369   True
       Coffee          Thai  -0.0056    1.0 -0.0241  0.0129  False
       Coffee         Vegan  -0.0307    0.0 -0.0517 -0.0097   True
       Coffee    Vegetarian  -0.0183 0.0247 -0.0356 -0.0009   True
       Coffee    Vietnamese   0.0103  0.987   -0.01  0.0306  False
     Desserts     Fast Food    0.102    0.0  0.0814  0.1226   True
     Desserts        French  -0.0347    0.0 -0.0578 -0.0116   True
     Desserts         Greek  -0.0347 0.0001 -0.0596 -0.0098   True
     Desserts         Halal  -0.0648    0.0 -0.1043 -0.0252   True
     Desserts       Italian   0.0148 0.3045 -0.0031  0.0326  False
     Desserts      Japanese   0.0069    1.0 -0.0129  0.0268  False
     Desserts        Korean  -0.0294 0.0192 -0.0568  -0.002   True
     Desserts        Kosher   0.0077    1.0 -0.0816  0.0969  False
     Desserts Mediterranean  -0.0248 0.0144 -0.0476 -0.0021   True
     Desserts       Mexican   0.0111 0.8662 -0.0067  0.0288  False
     Desserts         Pizza     0.02 0.0079  0.0023  0.0376   True
     Desserts         Ramen   0.0094    1.0 -0.0296  0.0483  False
     Desserts       Seafood   0.0057    1.0 -0.0117  0.0231  False
     Desserts       Spanish  -0.0248 0.9424 -0.0681  0.0185  False
     Desserts         Sushi   0.0047    1.0  -0.015  0.0243  False
     Desserts          Thai  -0.0226 0.0425 -0.0449 -0.0003   True
     Desserts         Vegan  -0.0477    0.0 -0.0721 -0.0233   True
     Desserts    Vegetarian  -0.0353    0.0 -0.0566 -0.0139   True
     Desserts    Vietnamese  -0.0067    1.0 -0.0305  0.0171  False
    Fast Food        French  -0.1367    0.0 -0.1589 -0.1146   True
    Fast Food         Greek  -0.1367    0.0 -0.1607 -0.1127   True
    Fast Food         Halal  -0.1668    0.0 -0.2057 -0.1278   True
    Fast Food       Italian  -0.0873    0.0 -0.1038 -0.0707   True
    Fast Food      Japanese  -0.0951    0.0 -0.1138 -0.0764   True
    Fast Food        Korean  -0.1314    0.0  -0.158 -0.1048   True
    Fast Food        Kosher  -0.0944 0.0226 -0.1834 -0.0053   True
    Fast Food Mediterranean  -0.1269    0.0 -0.1487 -0.1051   True
    Fast Food       Mexican  -0.0909    0.0 -0.1075 -0.0744   True
    Fast Food         Pizza  -0.0821    0.0 -0.0984 -0.0657   True
    Fast Food         Ramen  -0.0927    0.0 -0.1311 -0.0542   True
    Fast Food       Seafood  -0.0963    0.0 -0.1124 -0.0802   True
    Fast Food       Spanish  -0.1268    0.0 -0.1696  -0.084   True
    Fast Food         Sushi  -0.0973    0.0 -0.1158 -0.0788   True
    Fast Food          Thai  -0.1246    0.0 -0.1459 -0.1033   True
    Fast Food         Vegan  -0.1497    0.0 -0.1732 -0.1262   True
    Fast Food    Vegetarian  -0.1373    0.0 -0.1576  -0.117   True
    Fast Food    Vietnamese  -0.1087    0.0 -0.1316 -0.0859   True
       French         Greek      0.0    1.0 -0.0262  0.0262  False
       French         Halal    -0.03 0.5392 -0.0704  0.0103  False
       French       Italian   0.0495    0.0  0.0299  0.0691   True
       French      Japanese   0.0416    0.0  0.0202  0.0631   True
       French        Korean   0.0053    1.0 -0.0232  0.0339  False
       French        Kosher   0.0424 0.9951 -0.0473   0.132  False
       French Mediterranean   0.0099 0.9996 -0.0143   0.034  False
       French       Mexican   0.0458    0.0  0.0262  0.0653   True
       French         Pizza   0.0547    0.0  0.0352  0.0741   True
       French         Ramen   0.0441 0.0116  0.0042  0.0839   True
       French       Seafood   0.0404    0.0  0.0212  0.0596   True
       French       Spanish   0.0099    1.0 -0.0342   0.054  False
       French         Sushi   0.0394    0.0  0.0181  0.0607   True
       French          Thai   0.0121 0.9857 -0.0116  0.0359  False
       French         Vegan   -0.013 0.9873 -0.0387  0.0127  False
       French    Vegetarian  -0.0006    1.0 -0.0234  0.0223  False
       French    Vietnamese    0.028 0.0107  0.0028  0.0532   True
        Greek         Halal  -0.0301 0.5955 -0.0715  0.0113  False
        Greek       Italian   0.0494    0.0  0.0278  0.0711   True
        Greek      Japanese   0.0416    0.0  0.0183   0.065   True
        Greek        Korean   0.0053    1.0 -0.0247  0.0354  False
        Greek        Kosher   0.0424 0.9955 -0.0477  0.1325  False
        Greek Mediterranean   0.0098 0.9999  -0.016  0.0357  False
        Greek       Mexican   0.0458    0.0  0.0241  0.0674   True
        Greek         Pizza   0.0546    0.0  0.0331  0.0761   True
        Greek         Ramen   0.0441 0.0177  0.0032  0.0849   True
        Greek       Seafood   0.0404    0.0  0.0191  0.0617   True
        Greek       Spanish   0.0099    1.0 -0.0351   0.055  False
        Greek         Sushi   0.0394    0.0  0.0162  0.0626   True
        Greek          Thai   0.0121 0.9948 -0.0134  0.0376  False
        Greek         Vegan   -0.013 0.9945 -0.0403  0.0143  False
        Greek    Vegetarian  -0.0006    1.0 -0.0252  0.0241  False
        Greek    Vietnamese    0.028 0.0283  0.0012  0.0548   True
        Halal       Italian   0.0795    0.0  0.0419  0.1171   True
        Halal      Japanese   0.0717    0.0  0.0331  0.1103   True
        Halal        Korean   0.0354 0.3112 -0.0075  0.0783  False
        Halal        Kosher   0.0724 0.4897 -0.0228  0.1676  False
        Halal Mediterranean   0.0399 0.0537 -0.0002    0.08  False
        Halal       Mexican   0.0758    0.0  0.0383  0.1134   True
        Halal         Pizza   0.0847    0.0  0.0472  0.1222   True
        Halal         Ramen   0.0741    0.0   0.023  0.1252   True
        Halal       Seafood   0.0705    0.0  0.0331  0.1078   True
        Halal       Spanish     0.04 0.5743 -0.0145  0.0945  False
        Halal         Sushi   0.0694    0.0   0.031  0.1079   True
        Halal          Thai   0.0422 0.0236  0.0023   0.082   True
        Halal         Vegan    0.017 0.9994  -0.024  0.0581  False
        Halal    Vegetarian   0.0295 0.5262 -0.0099  0.0688  False
        Halal    Vietnamese    0.058    0.0  0.0173  0.0988   True
      Italian      Japanese  -0.0078 0.9889 -0.0234  0.0078  False
      Italian        Korean  -0.0441    0.0 -0.0686 -0.0196   True
      Italian        Kosher  -0.0071    1.0 -0.0955  0.0813  False
      Italian Mediterranean  -0.0396    0.0 -0.0588 -0.0204   True
      Italian       Mexican  -0.0037    1.0 -0.0165  0.0092  False
      Italian         Pizza   0.0052 0.9995 -0.0074  0.0178  False
      Italian         Ramen  -0.0054    1.0 -0.0424  0.0316  False
      Italian       Seafood   -0.009 0.5798 -0.0214  0.0033  False
      Italian       Spanish  -0.0395 0.0896 -0.0811   0.002  False
      Italian         Sushi  -0.0101 0.7946 -0.0254  0.0053  False
      Italian          Thai  -0.0373    0.0  -0.056 -0.0187   True
      Italian         Vegan  -0.0625    0.0 -0.0835 -0.0414   True
      Italian    Vegetarian    -0.05    0.0 -0.0675 -0.0326   True
      Italian    Vietnamese  -0.0215 0.0252 -0.0419 -0.0011   True
     Japanese        Korean  -0.0363 0.0001 -0.0623 -0.0103   True
     Japanese        Kosher   0.0007    1.0 -0.0881  0.0896  False
     Japanese Mediterranean  -0.0318    0.0 -0.0528 -0.0107   True
     Japanese       Mexican   0.0041    1.0 -0.0114  0.0197  False
     Japanese         Pizza    0.013 0.2565 -0.0023  0.0284  False
     Japanese         Ramen   0.0024    1.0 -0.0356  0.0404  False

In [35]:
"""
Step 17: create and use functions to randomize the cuisine tag assignment instead of exploding the data through many iterations and take the average p-value
"""

import random

def random_anova(data, iv, dv):
  """
  data: source data frame
  iv: name of column which contains category labels
  dv: name of column which contains corresponding values
  """

  #same as anova function in step 16, but with random preprocessing of inputted data
  working = data[data[iv].str.len()>0].copy()
  working['random_iv'] = working[iv].apply(lambda x: random.choice(x) if isinstance(x,list) and x else None) #applies a random selection if the record's value at that column is present and is a list
  f_stat, p_value = anova(working,'random_iv',dv)
  return p_value

def bootstrap_anova(data,iv,dv,boots):
  """
  data: source data frame
  iv: name of column which contains category labels
  dv: name of column which contains corresponding values
  boots: how many simulations to run
  """
  p_values = []
  for n in range(boots):
    p_values.append(random_anova(data,iv,dv)) #append each simulation's p value to an output list
  print("Mean p-value: ", np.mean(p_values))

bootstrap_anova(restaurant_reviews,"cuisine","mismatch",100)

Mean p-value:  8.19750456922396e-151

In [46]:
"""
Step 19: find bottom five and top five average mismatches and direction
"""
bottom_five = pd.DataFrame(exploded_restaurant_reviews.groupby('cuisine')[['mismatch','direction']].mean().sort_values(by='mismatch')[0:5]).reset_index()
bottom_five.columns = ["cuisine", "mismatch","direction"]
top_five = pd.DataFrame(exploded_restaurant_reviews.groupby('cuisine')[['mismatch','direction']].mean().sort_values(by='mismatch',ascending=False)[0:5]).reset_index()
top_five.columns = ["cuisine", "mismatch","direction"]

(      cuisine  mismatch  direction
 0       Halal  0.198951  -0.033493
 1       Vegan  0.215999  -0.018499
 2       Cafes  0.224389  -0.010254
 3  Vegetarian  0.228424  -0.006202
 4      French  0.229000   0.039297,
      cuisine  mismatch  direction
 0  Fast Food  0.365726  -0.106912
 1    Burgers  0.306236  -0.014271
 2    Chinese  0.295392  -0.021936
 3      Pizza  0.283659  -0.014742
 4    Italian  0.278458  -0.001126)

In [49]:
"""
Step 20: after filtering on ethnic foods, find bottom five and top five average mismatches
"""

#choose ethnic keywords for further analysis
ETHNIC_CUISINE_KEYWORDS = ['American', 'Mexican', 'Italian', 'Chinese', 'Japanese', 'Thai',
    'Vietnamese', 'Korean', 'Mediterranean', 'Greek', 'French', 'Spanish', 'Halal', 'Kosher']

#repeat top five and bottom five
bottom_five_ethnic = pd.DataFrame(exploded_restaurant_reviews[exploded_restaurant_reviews['cuisine'].isin(ETHNIC_CUISINE_KEYWORDS)].groupby('cuisine')[['mismatch','direction']].mean().sort_values(by='mismatch')[0:5]).reset_index()
bottom_five_ethnic.columns = ["cuisine", "mismatch","direction"]
top_five_ethnic = pd.DataFrame(exploded_restaurant_reviews[exploded_restaurant_reviews['cuisine'].isin(ETHNIC_CUISINE_KEYWORDS)].groupby('cuisine')[['mismatch','direction']].mean().sort_values(by='mismatch',ascending=False)[0:5]).reset_index()
top_five_ethnic.columns = ["cuisine", "mismatch","direction"]

In [52]:
"""
Step 21: write to output files
"""
exploded_restaurant_reviews.to_csv("final_dataset.csv",index=False)
bottom_five.to_csv("bottom_five_cuisines_by_mismatch.csv",index=False)
bottom_five_ethnic.to_csv("bottom_five_ethnic_cuisines_by_mismatch.csv",index=False)
top_five.to_csv("top_five_cuisines_by_mismatch.csv",index=False)
top_five_ethnic.to_csv("top_five_ethnic_cuisines_by_mismatch.csv",index=False)

In [53]:
#alternative compressed file
exploded_restaurant_reviews.to_csv("final_dataset.csv",index=False,compression='gzip')